.contianer-new {
  background-color: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.705);
}

.none-bg {
  background: none;
  border: none;
}


.people-img:hover {
  filter: drop-shadow(0 0 2px #000000fd);
  scale: 1.1;
}
.btn-google {
  visibility: hidden;
}

.container-profile {
  display: flex;
  align-items: center;
  padding-right: 30px;
  width: fit-content;
  transition: 1.5s;
  margin-left: 3vw;
}

.container-profile-login {
  display: flex;
  align-items: center;
  padding-right: 30px;
  width: fit-content;
  transition: 1.5s;
  margin-left: 3vw;
}

.new-work-logo-01 {
  height: 50px;
  transition: 1.5s;
}

.new-work-logo-01:hover {
  scale: 1.1;
}

.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-shadow: 0px 15px 15px -15px #111;
}

.max-width {
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-content: center;
  justify-items: center;
  justify-content: space-between;
}

.menu-btn {
  margin: 0 10px;
}


.rigth-nav {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 35vw;
}

.left-nav {
  width: 20vw;
  justify-content: space-around;
  display: flex;
  align-items: center;
  height: 100%;
}

.icon-home-page {
  width: 47px;
  transition: 1.5s;
}

.icon-home-page:hover { 
  filter: drop-shadow(0 0 2px #1900fffd);
  scale: 1.1;
}

.icon-history-page {
  width: 45px;
  transition: 1.5s;
}

.icon-history-page:hover {
  transform: rotate(-90deg);
  filter: drop-shadow(0 0 2px #1900fffd);
  scale: 1.1;
}

.icon-people-page {
  width: 50px;
  transition: 1.5s;
}

.icon-people-page:hover {
  filter: drop-shadow(0 0 2px #1900fffd);
  scale: 1.1;
}

.img-profile-user {
  transition: 1.5s;
  height: 55px;
  border-radius: 100%;
  margin-right: 10px;
  border: rgba(255, 255, 255, 0) solid 2px;
}

.img-profile-user:hover {
  border: blueviolet solid 2px;
}

.text-email-user {
  font-weight: bolder;
}

@media screen and (max-width: 790px) {
  .icon-home-page {
    width: 23px;
  }

  .icon-history-page {
    width: 23px;
  }

  .icon-people-page {
    width: 23px;
  }
  .container-profile {
    align-items: center;
    width: 20px;
    transition: 1.5s;
  }

  .container-profile-login {
    align-items: center;
    margin-left: -20px;
    width: 100px;
    transition: 1.5s;
  }

  .menu {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: grid;
    grid-template-columns: 200px 1fr 100px 2fr;
  }

  .new-work-logo-01 {
    height: 30px;
  }

  .img-profile-user {
    height: 30px;
    border-radius: 100%;
    margin-top: -2px;
  }

  .text-email-user {
    font-size: 10px;
  }
}